.myaccount-component {
    display: flex;
    padding: 20px 100px;
  }
  
  .profile-container {
    /* box-shadow: 0 2px 6px 0 rgba(218, 218, 253, 0.65),
      0 2px 6px 0 rgba(206, 206, 238, 0.54); */
    width: 30%;
    height: 300px;
    box-shadow:  0px 1px 15px 1px black;;
  }
  
  .user-picture{
    width: 100%;
    height: 218px;
    border-radius: 50%;
    padding: 20px 50px;
  }
  .profile-user {
    width: 60%;
    padding: 10px 0;
    height: 200px;
  }
  
  .user-name {
    padding: 10px 0;
    margin: 0px;
    text-align: center;
  }
  
  .location-container {
    display: flex;
    padding: 10px 95px;
    gap: 6px;
    margin: auto;
    justify-content: flex-start;
  }
  
  .location-icon {
    width: 20px;
    height: 23px;
  }
  
  .location-name {
    padding: 0px;
    margin: 0px;
  }
  
  .profile-container-2 {
    /* box-shadow: 0 2px 6px 0 rgba(218, 218, 253, 0.65),
      0 2px 6px 0 rgba(206, 206, 238, 0.54); */
    width: 60%;
    height: 300px;
    margin: 0 0 0 30px;
    box-shadow:  0px 1px 15px 1px black;;
  }
  
  .profile-content-display {
    display: flex;
    gap: 40px;
  }
  
  .profile-user-deatils {
    text-align: left;
    padding: 10px 0 0 40px;
  }
  
  .profile-user-title {
    padding: 10px 0;
    margin: 0;
  }
  
  .profile-user-subtitle {
    padding: 0;
  }
  
  .edit-change-button {
    display: flex;
    padding: 0 40px;
    gap: 30px;
  }
  
  .edit-profile-details {
    text-align: center;
    margin: auto;
    display: flex;
  }
  
  .invoice-details{
    display: flex;
    height: auto;
  }
  /* Web View End */
  
  /* Mobile View Start */
  
  @media screen and (max-width:799px) {
    .myaccount-component {
      display: block;
      padding: 20px;
    }
  
    .profile-container {
      width: auto;
    }
    .invoice-details{
      display: block;
      height: auto;
    }
    .profile-container-2 {
      width: auto;
      margin: 0;
    }
    .profile-user-deatils {
      padding: 10px 2px !important;
      text-align: left;
  }
  /* .booked-pooja-img{
    width: 100% !important;
  } */
  .first-box {
  padding: 5px 10px !important
  }
  }
  
  @media screen and (max-width: 1024px) {
    .profile-container {
      height: auto;
      width: auto;
    }
    
  }
  
  /* Mobile View End */
  
  /* Order Details  */
  
  /* Web View Start */
  
  .Booked-history-component {
    padding: 10px 100px;
  }
  
  .Booked-history-buttons {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
  }
  
  .booked-title {
    padding: 5px 10px;
    border: 1px solid rgb(255, 255, 255);
    background: black;
    border-radius: 5px;
    color: white;
  }
  
  .invoice-header {
    flex: 1;
  }
  
  .first-box {
    height: 7rem;
    display: flex;
    padding: 5px 20px;
    background: black;
    color: white;
  }
  
  .order-details {
    flex: auto;
  }
  
  .order-display {
    border: 2px solid lightgray;
    display: flex;
    padding: 5px 20px;
    margin: 5px 0;
  }
  
  .booked-car-img {
    width: 150px;
    height: 100px;
    border: 1px solid;
  }
  
  .view-button {
    display: flex;
    justify-content: center;
  }
  
  .view {
    padding: 3px 16px;
    text-decoration: underline !important;
    background: black !important;
    border: none !important;
    color: white;
  }
  
  .modal-logo {
    width: 40%;
    height: 150px;
    display: flex;
  }
  
  .download {
    /* background: purple !important; */
    background: black !important;
    border: none;
    color: white;
  }
  
  /* Web View End */
  
  /* Mobile View Start */
  
  @media screen and (max-width: 799px) {
    .Booked-history-component {
      padding: 10px;
    }
  
    .order-details h5 {
      font-size: 12px;
    }
  
    .order-details p {
      font-size: 12px;
      margin: 0;
      padding: 0;
    }
  
    .order-details-container {
      display: block;
    }
  
    .table {
      display: grid;
    }
    .order-display {
      display: block;
      padding: 5px 10px;
    }
    .profile-content-display {
      display: flex;
      gap: 20px !important;
      padding: 0px 10px !important;
  }
  }
  
  /* Mobile View End */
  
  
  /* review modal  */
  
  .comment-box {
  padding: 5px
  }
  
  .comment-area textarea {
  resize: none;
  border: 1px solid black
  }
  
  .form-control:focus {
  color: black;
  border-color: black;
  outline: 0;
  box-shadow: 0 0 0 1px black !important
  }
  
  .send {
  color: white;
  background-color: black;
  border-color: black
  }
  
  .send:hover {
  color: white;
  background-color: black;
  border-color: black
  }
  
  .rating {
  display: inline-flex;
  margin-top: -10px;
  flex-direction: row-reverse;
  
  
  }
  
  .rating>input {
  display: none
  }
  
  .rating>label {
  position: relative;
  width: 28px;
  font-size: 35px;
  color: black;
  cursor: pointer;
  }
  
  .rating>label::before {
  content: "\2605";
  position: absolute;
  opacity: 0
  }
  
  .rating>label:hover:before,
  .rating>label:hover~label:before {
  opacity: 1 !important
  }
  
  .rating>input:checked~label:before {
  opacity: 1
  }
  
  .rating:hover>input:checked~label:before {
  opacity: 0.4
  }
  